{% extends 'base.html.twig' %}



{% block content %}

	
					<div class="row justify-content-center h-100">
				<div class="col-md-4 col-xl-3 chat"><div class="card mb-sm-3 mb-md-0 contacts_card">
					<div class="card-header">
						<div class="input-group">
							<input type="text" placeholder="Search..." name="" class="form-control search">
							<div class="input-group-prepend">
								<span class="input-group-text search_btn"><i class="fas fa-search"></i></span>
							</div>
						</div>
					</div>
					
					<div class="card-body contacts_body">
						<ui class="contacts">


						{% for g in groupes %}
						<li class="active">
							<div class="d-flex bd-highlight">
								<div class="img_cont">
									<img src="{{ asset('/Photo/' ~ g.photo) }}" class="rounded-circle user_img">
									<span class="online_icon"></span>
								</div>
								<div class="user_info">
									<span>{{ g.nom }}</span>
								</div>
							</div>
						</li>
						{% endfor %}


						</ui>
					</div>
					<div class="card-footer"></div>
				</div></div>
				<div class="col-md-8 col-xl-6 chat">
					<div class="card">
						<div class="card-header msg_head">
							<div class="d-flex bd-highlight">
								<div class="img_cont">
									<img src="{{ asset('/Photo/' ~ groupe.photo) }}" class="rounded-circle user_img">
									<span class="online_icon"></span>
								</div>
								<div class="user_info">
									<span><a href="{{  path('message') }}"></a>{{ groupe.nom }}</span>
								</div>
								<div class="video_cam">
									<span><i class="fas fa-video"></i></span>
									<span><i class="fas fa-phone"></i></span>
								</div>
							</div>
							<span id="action_menu_btn"><i class="fas fa-ellipsis-v"></i></span>
							<div class="action_menu">
								<ul>
									<li><a class="fas fa-plus" href="{{  path('groupAdd') }}"> Création groupe</a></li>
									<li><a class="fas fa-ban" href="{{  path('logout') }}"> Déconnexion</a></li>
								</ul>
							</div>
						</div>
						<div class="card-body msg_card_body">



							 {% for m in messages %}


                            {% if m.user != app.user %}
							<div class="d-flex justify-content-start mb-4">
								<div class="img_cont_msg">
									<img src="{{ asset('/Photo/' ~ m.user.photo  )  }}" class="rounded-circle user_img_msg">
								</div>
								<div class="msg_cotainer">
									{{ m.content }}
									<span class="msg_time">{{ m.date | date('d/m/2020 à H:i:s')   }}</span>
								</div>
							</div>
                           {% else %}
							<div class="d-flex justify-content-end mb-4">
								<div class="msg_cotainer_send">
									{{ m.content }}
									<span class="msg_time_send">{{ m.date | date('d/m/2020 à H:i:s')   }}</span>
								</div>
								<div class="img_cont_msg">
							        <img src="{{ asset('/Photo/' ~ m.user.photo  )  }}" class="rounded-circle user_img_msg">
								</div>
							</div>
                            {% endif %}
                             {% endfor %}




							

                            
						</div>
						<div class="card-footer">
							<div class="input-group">
								<div class="input-group-append">
									<span class="input-group-text attach_btn"><i class="fas fa-paperclip"></i></span>
								</div>
								<textarea name="" class="form-control type_msg" placeholder="Type your message..."></textarea>
								<div class="input-group-append">
									<span class="input-group-text send_btn"><i class="fas fa-location-arrow"></i></span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>




{% endblock %}